CompileFlags:
  CompilationDatabase: build

---
If:
  PathMatch: .*src_mcu/rpc/.*
CompileFlags:
  CompilationDatabase: build/ino_rpc

---
If:
  PathMatch: .*src_mcu/hello/.*
CompileFlags:
  CompilationDatabase: build/ino_hello
